services:
  telemt:
    image: whn0thacked/telemt-docker:latest
    container_name: telemt-proxy
    restart: unless-stopped
    ports:
      - "${PORT:-443}:${PORT:-443}"
    environment:
      PROXY_PROTOCOL: abracadabra
      PROXY_SECRET: ${SECRET}
      PROXY_TLS_DOMAIN: ${FAKE_TLS_DOMAIN}
      BIND_ADDR: 0.0.0.0:${PORT:-443}
      UPSTREAMS: ${UPSTREAMS}
